@page
@model CandidateTest.Pages.Employee.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Employees</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employees.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employees.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employees.LastNameP)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employees.LastNameP)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employees.LastNameM)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employees.LastNameM)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employees.BornDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employees.BornDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employees.RFC)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employees.RFC)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employees.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employees.Status)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Employees?.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
