@page
@model CandidateTest.Pages.Employee.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Employees[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employees[0].LastNameP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employees[0].LastNameM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employees[0].BornDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employees[0].RFC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employees[0].Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Employees) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastNameP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastNameM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BornDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RFC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
